appdirs==1.4.3
backports.ssl-match-hostname==3.5.0.1
finta==1.3
future==0.16.0
matplotlib==3.5.1
mplfinance==0.12.8b9
packaging==20.0
pyparsing==3.0.7
requests==2.27.1
six==1.10.0
websocket-client==0.56.0
pandas==1.4.2
pandas-ta==0.3.14b0